// Color

$white: #ffffff;
$black: #000000;
$bcg-page: #020405;
$bcg-card: #0c1117;
$border-color: #d43c38;
$gray: #b3bfcd;
$color-overlay: rgba(0, 0, 0, 0.5);

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$montserrat: "Montserrat", "Arial", sans-serif;

//transition

$trans--300:  0.3s ease-in-out;

//retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
